<% @tweets.each do |tweet| %>
  <div>
    <p>投稿ユーザー画像：</p>
    <p>タイトル：<%= tweet.title %></p>
    <p>内容：<%= tweet.body %></p>
    <p>ユーザーネーム：<%= tweet.customer.name %></p>
    <p><%= link_to "#{tweet.tweet_comments.count} コメント", tweet_path(tweet.id) %></p>
  </div>
<% end %>
<%= paginate @tweets %>